/* Error: Missing argument $number.
 *   ,--> sass\partials\_type.scss
 * 128|         @include grid-column-start();
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass\partials\_mixins.scss
 * 9 | @mixin grid-column-start($number) {
 *   |        ========================== declaration
 *   '
 *   sass\partials\_type.scss 128:9  grid-column-start()
 *   sass\partials\_type.scss 128:9  @import
 *   sass\style.scss 14:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $number.\a   \250c \2500 \2500 > sass\\partials\\_type.scss\a 128\2502          @include grid-column-start();\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass\\partials\\_mixins.scss\a 9 \2502  @mixin grid-column-start($number) {\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass\\partials\\_type.scss 128:9  grid-column-start()\a   sass\\partials\\_type.scss 128:9  @import\a   sass\\style.scss 14:9            root stylesheet";
}
