html {
  line-height: rem(28px);
  font-size: rem($html-font-size);
  font-weight: 400;
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  color: $color-black;
  background-color: #FBF8EE;
  
}

#site-container {
  position: relative;
  overflow: hidden;
}
#content-container {
  > section {
    &:first-child {
      margin-top: 50px;
      @include breakpoint-desktop-small {
        margin-top: 118px;
      }
    }
  }
}

.cover-image {
  position: relative;
  width: 100%;
  > img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.wrapper {
  position: relative;
  width: calc(100% - 3rem);
  max-width: rem(1200px);
  margin: 0 auto;

  @include breakpoint-tablet {
    width: calc(100% - 10rem);
  }

  @include breakpoint-desktop-small {
    width: calc(100% - 16rem);
  }
}
.wrapper-slider{
  width: calc(100% - 0rem);
  max-width: rem(1200px);
  margin: 0 auto;

  @include breakpoint-tablet {
    width: calc(100% - 5rem);
  }

  @include breakpoint-desktop-small {
    width: calc(100% - 8rem);
  }
}
.wrapper-small {
  @include breakpoint-desktop-small {
   padding-left: 100px;
  }
}

.with-margin {
  margin: 2rem 0;

  @include breakpoint-tablet {
    margin: 3rem 0;
  }

  @include breakpoint-desktop-small {
    margin: 4rem 0;
  }

  @include breakpoint-desktop-large {
    margin: 8rem 0;
  }
}

.with-padding {
  padding: 52px  0;

  @include breakpoint-tablet {
    padding: 51px 0;
  }

  @include breakpoint-desktop-small {
    padding: rem(92px) 0;
  }
}

.last-products ~ .overview {
  @include breakpoint-desktop-small {
    margin-top: 148px;
  }
}

@keyframes btn-move{
  from{
    right: 100%;
  }
  to{
    right: 0%;
  }
}
@keyframes btn-fill{
  from{
    right: 100%;
  }
  to{
    right: 0%;
  }
}
