.hero{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 10px 0 10px;
  @include breakpoint-desktop-small{
    height: calc(100vh - 20px);
  }
  .wrapper{
    z-index: 6;
    height: 100%;
    align-items: end;
    @include breakpoint-tablet{
      width: 100%;
    }
  }
  .shape-bottom{
    bottom: -1px;
    position: absolute;
    right: 25px;
    z-index: 5;
    width: 30vw;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 40px;
    }

  }
}
.hero-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
 
}

.hero-text{
  @include grid-column-start(2);
  @include grid-column-span(10);
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    @include grid-column-start(3);
    @include grid-column-span(8);
    margin-bottom: 76px;
  }
  .arrow-right{
    position: relative;
    top: 4px;
    right: 0;
    padding-left: 14px;
    width: 35px;
     transition: right 0.3s ease-in-out;
    @include breakpoint-desktop-small{
      width: 47px;
    }
  }
  .btn{
    @include breakpoint-desktop-small{
      padding-left: 0;
      font-size: 20px;
      background-color: transparent;
      &:hover{
        .arrow-right{
          right: -20px;
          color: #BA5D01;
          z-index: -1;
        }
      }

    }
 
  }
}

// title-image 

.title-image {
  margin: 92px 0px;
  .wrapper{
    align-items: end;
    h2{
      font-size: 46px;
      margin-bottom: 40px;
      @include grid-column-start(2);
      @include grid-column-span(11);
      @include breakpoint-desktop-small{
        font-size: 60px;
        margin-bottom: 200px;
        @include grid-column-start(2);
        @include grid-column-span(5);
      }
    }
  }
}

.title-image-image {
  height: 440px;
  margin-left: 1px;
  margin-bottom: 40px;
  @include grid-column-start(3);
  @include grid-column-span(9);
  @include breakpoint-desktop-small{
    height: 732px;
    @include grid-column-start(7);
    @include grid-column-span(8);
   
  }
}
.title-image-text-image{
  position: relative;
  bottom: -40px;
  @include grid-column-start(3);
  @include grid-column-span(9);
  @include breakpoint-desktop-small{
    @include grid-column-start(16);
    @include grid-column-span(4);
  }
}
.title-image-text-image-image{
  display: none;
  @include breakpoint-desktop-small{
    position: relative;
    display: block;
    margin-top: 60px;
    height: 193.93px;
    .shape-top{
      top: -1px;
      position: absolute;
      left: 25px;
      z-index: 8;
      width: 90px;
      height: auto;
      transform: scale(-1);
      max-width: 414px;
      @include breakpoint-desktop-small{
        left: 1vw;
      }
    }
    .shape-bottom{
      bottom: -3px;
      position: absolute;
      right: 25px;
      z-index: 8;
      width: 90px;
      height: auto;
      max-width: 414px;
      @include breakpoint-desktop-small{
        right: 1vw;
      }
    }
  }

}

// overview

.overview-project{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 0px 150px 10px;
  @include breakpoint-desktop-small{
    margin: 10px 10px 150px 10px;
    min-height: 820px;
  }
  .wrapper{
    width: 100%;
    align-items: end;
    height: 100%;
    z-index: 4;
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 30vw;
    height: auto;
    transform: scale(-1);
    max-width: 414px;
    @include breakpoint-desktop-small{
      left: 135px;
    }
  }
  .shape-bottom{
    bottom: -5px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 30vw;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 135px;
    }
  }
}
.overview-project-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
 
}

.overview-project-text{
  @include grid-column-start(2);
  @include grid-column-span(10);
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    @include grid-column-start(3);
    margin-bottom: 76px;
  }
  .arrow-right{
    position: relative;
    top: 4px;
    right: 0;
    padding-left: 14px;
    width: 35px;
     transition: right 0.3s ease-in-out;
    @include breakpoint-desktop-small{
      width: 47px;
    }
  }
  h1{
    font-size: 45px;
    @include breakpoint-desktop-small{
      font-size: 70px;
    }
  }
}

// text-image

.text-image{
  margin-bottom: 130px;
}

.text-image-text{
  @include grid-column-start(2);
  @include grid-column-span(10);
  @include breakpoint-desktop-small{
    @include grid-column-start(5);
    @include grid-column-span(7);
  }

  h1{
    color: $color-black;
    font-size: 46px;
    margin-bottom: 60px;
    @include breakpoint-desktop-small{
      font-size: 70px;
    }
  }
}
.text-image-image{
  position: relative;
  overflow: hidden;
  @include grid-column-start(3);
  @include grid-column-span(9);
  height: 208px;
  max-width: 310px;
  @include breakpoint-desktop-small{
    @include grid-column-start(12);
    @include grid-column-span(6);
    margin: 90px 0 0 26px;
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    transform: scale(-1);
    max-width: 414px;
    @include breakpoint-desktop-small{
      left: 1vw;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 1vw;
    }
  }
}

// overview products

.overview-products{
  position: relative;
  background-color: $color-black;
  padding: 100px 0;
  @include breakpoint-desktop-small{
    padding: 150px 0;
  }
  .wrapper{
    h1{
      font-size: 46px;
      @include grid-column-start(2);
      @include breakpoint-desktop-small{
        font-size: 70px;
        @include grid-column-start(9);
        @include grid-column-span(6);
        font-size: 100px;
        margin-bottom: 25px;
      }
    }
    .btn-product{
      @include grid-column-start(2);
      @include grid-column-span(7);
      @include breakpoint-desktop-small{
        margin-top: -50px;
        @include grid-column-start(15);
        @include grid-column-span(5);
      }
      .btn{
        &:hover{
          color: #CDB568;
        }
      }
    }
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 10px;
    z-index: 8;
    width: 118px;
    height: auto;
    transform: scale(-1);
    @include breakpoint-desktop-small{
      width: 230px;
      left: 130px;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 10px;
    z-index: 8;
    width: 118px;
    height: auto;
    @include breakpoint-desktop-small{
      width: 230px;
      right: 130px;
    }
  }
}


.overview-produc-item{
  height: 482px;
  position: relative;
  overflow: hidden;
  @include grid-column-start(2);
  @include grid-column-span(10);
  @include breakpoint-tablet{
    @include grid-column-span(9);
    &:nth-child(3n + 1) {
        @include grid-column-start(2);
    }
    &:nth-child(3n + 2) {
        @include grid-column-start(12);
    }
  }
  @include breakpoint-desktop-small{
    @include grid-column-span(5);
    &:nth-child(3n + 1) {
      @include grid-column-start(3);
      margin-top: -70px;
    }
    &:nth-child(3n + 2) {
      @include grid-column-start(9);
      margin-top: 120px;
    }
    &:nth-child(3n + 3) {
      @include grid-column-start(15);
    }
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 170px;
    height: auto;
    transform: scale(-1);
    max-width: 414px;
    path{
      fill: #000000;
    }
    @include breakpoint-desktop-small{
      left: 1vw;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 170px;
    height: auto;
    max-width: 414px;
    path{
      fill: #000000;
    }
    @include breakpoint-desktop-small{
      right: 1vw;
    }
  }
}
.overview-product-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overview-product-item-text{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 4;
  .btn{
    margin: 30px;
    padding-left: 0;
    padding-bottom: 0;
    background-color: transparent;
    span{
      display: inline-block;
      font-size: 21px;
      padding-right: 15px;
    }
  }
}


// cta

.cta{
  padding: 150px 0;
  .wrapper{
  }
}
.cta-content{
  @include grid-column-start(2);
  @include grid-column-span(8);
  @include breakpoint-desktop-small{
    margin-top: 110px;
    @include grid-column-start(4);
    @include grid-column-span(4);
  }
  h2{
    font-size: 60px;
    @include breakpoint-desktop-small{
      font-size: 59px;
    }
  }
  a{
    display: block;
    text-decoration: none;
    color: $color-black;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: #BA5D01;
    }
  }
  h5{
    font-size: 16px;
  }

}
.cta-image-big{
  overflow: hidden;
  height: 350px;
  @include grid-column-start(2);
  @include grid-column-span(10);
  @include breakpoint-desktop-small{
    height: 526px;
    @include grid-column-start(9);
    @include grid-column-span(5);
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 100px;
    height: auto;
    transform: scale(-1);
    @include breakpoint-desktop-small{
      left: 1vw;
      width: 170px;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 100px;
    height: auto;
    @include breakpoint-desktop-small{
      right: 1vw;
      width: 170px;
    }
  }
}
.cta-image-medium-small{
  display: none;
  @include breakpoint-desktop-small{
    display: block;
    margin-top: 110px;
    @include grid-layout(4,  10px, 20px);
    @include grid-column-start(14);
    @include grid-column-span(4);

  }
  
}
.cta-image-small{
  position: relative;
  overflow: hidden;
  @include breakpoint-desktop-small{
    height: 288px;
    @include grid-column-start(1);
    @include grid-column-span(3);
  }

  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    transform: scale(-1);
    @include breakpoint-desktop-small{
      left: 1vw;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    @include breakpoint-desktop-small{
      right: 1vw;
    }
  }
}
.cta-image-medium{
  position: relative;
  overflow: hidden;
  @include breakpoint-desktop-small{
    height: 208px;
    @include grid-column-start(1);
    @include grid-column-span(4);
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    transform: scale(-1);
    @include breakpoint-desktop-small{
      left: 1vw;
    }
  }
  .shape-bottom{
    bottom: -3px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 90px;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 1vw;
    }
  }
}