.hero{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 10px 0 10px;
  @include breakpoint-desktop-small{
    height: calc(100vh - 20px);
  }

  .wrapper{
    display: flex;
    align-items: end;
    height: 100%;
    z-index: 4;
  }
  .shape-bottom{
    bottom: -1px;
    position: absolute;
    right: 25px;
    z-index: 5;
    width: 30vw;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 40px;
    }

  }
}
.hero-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
 
}

.hero-text{
  max-width: 33ch;
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    max-width: 56ch;
    margin-bottom: 76px;
  }
  .arrow-right{
    position: relative;
    top: 4px;
    right: 0;
    padding-left: 14px;
    width: 35px;
     transition: right 0.3s ease-in-out;
    @include breakpoint-desktop-small{
      width: 47px;
    }
  }
  .btn{
    @include breakpoint-desktop-small{
      padding-left: 0;
      font-size: 20px;
      background-color: transparent;
      &:hover{
        .arrow-right{
          right: -20px;
          color: #BA5D01;
          z-index: -1;
        }
      }

    }
 
  }
}
// gallery

.gallery{
  margin: 92px 0px;

  .wrapper{
    @include grid-layout(10, 10px);
    @include breakpoint-desktop-small{
      @include grid-layout(18, 10px);
      align-items: end;
    }
    h2{
      font-size: 46px;
      margin-bottom: 40px;
      @include grid-column-start(1);
      @include grid-column-span(11);
      @include breakpoint-desktop-small{
        font-size: 60px;
        margin-bottom: 200px;
        @include grid-column-start(1);
        @include grid-column-span(5);
      }
    }
  }
}

.galley-image {
  height: 440px;
  margin-left: 1px;
  margin-bottom: 40px;
  @include grid-column-start(2);
  @include grid-column-span(10);
  @include breakpoint-desktop-small{
    height: 732px;
    @include grid-column-start(6);
    @include grid-column-span(8);
   
  }
}
.gallery-text-image{
  position: relative;
  margin-left: 5px;
  @include grid-column-start(2);
  @include grid-column-span(8);
  @include breakpoint-desktop-small{
    margin-bottom: 200px;
    @include grid-column-start(15);
    @include grid-column-span(5);
    
  }
}
.gallery-text-image-image{
  display: none;
  @include breakpoint-desktop-small{
    position: absolute;
    display: block;
    margin-top: 60px;
    height: 193.93px;
  }
}

// overview

.overview-project{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 0px 150px 10px;
  @include breakpoint-desktop-small{
    margin: 10px 10px 150px 10px;
    min-height: 820px;
  }
  .wrapper{
    display: flex;
    align-items: end;
    height: 100%;
    z-index: 4;
  }
  .shape-top{
    top: -1px;
    position: absolute;
    left: 25px;
    z-index: 8;
    width: 30vw;
    height: auto;
    transform: scale(-1);
    max-width: 414px;
    @include breakpoint-desktop-small{
      left: 135px;
    }
  }
  .shape-bottom{
    bottom: -5px;
    position: absolute;
    right: 25px;
    z-index: 8;
    width: 30vw;
    height: auto;
    max-width: 414px;
    @include breakpoint-desktop-small{
      right: 135px;
    }
  }
}
.overview-project-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
 
}

.overview-project-text{
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    margin-bottom: 76px;
  }
  .arrow-right{
    position: relative;
    top: 4px;
    right: 0;
    padding-left: 14px;
    width: 35px;
     transition: right 0.3s ease-in-out;
    @include breakpoint-desktop-small{
      width: 47px;
    }
  }

}

// text-image

.text-image{
  margin-bottom: 130px;
  .wrapper{
    @include grid-layout(10, 10px);
    @include breakpoint-desktop-small{
      @include grid-layout(18, 10px);
    }
  }
}

.text-image-text{
  @include grid-column-start(1);
  @include grid-column-span(10);
  @include breakpoint-desktop-small{
    @include grid-column-start(3);
    @include grid-column-span(8);
  }

  h1{
    color: $color-black;
    font-size: 46px;
    margin-bottom: 60px;
    @include breakpoint-desktop-small{
      font-size: 70px;
    }
  }
}
.text-image-image{
  @include grid-column-start(2);
  @include grid-column-span(10);
  height: 208px;
  max-width: 310px;
  @include breakpoint-desktop-small{
    @include grid-column-start(11);
    @include grid-column-span(6);
    margin: 90px 0 0 33px;
  }
}

// overview products

.overview-products{
  background-color: $color-black;
  padding: 100px 0;
  @include breakpoint-desktop-small{
    padding: 150px 0;
  }
  .wrapper{
    @include grid-layout(2, 10px);
    @include breakpoint-desktop-small{
      @include grid-layout(18, 10px);
    }
    h1{
      @include grid-column-start(1);
      @include grid-column-span(2);
      @include breakpoint-desktop-small{
        @include grid-column-start(8);
        @include grid-column-span(6);
        font-size: 100px;
        margin-bottom: 25px;
      }
    }
  }
}

.overview-products-items{
  @include grid-column-start(1);
  @include grid-column-span(2);
  @include grid-layout(10, 10px, 60px);
  @include breakpoint-tablet{
    @include grid-layout(10, 10px, 60px);
  }
  @include breakpoint-desktop-small{
    @include grid-column-span(18);
    @include grid-layout(18, 10px);
  }
}

.overview-produc-item{
  height: 482px;
  position: relative;
  @include grid-column-span(10);
  @include breakpoint-tablet{
    @include grid-column-span(5);
  }
  &:nth-child(3n + 1) {
    @include breakpoint-desktop-small {
      @include grid-column-start(2);
      margin-top: -70px;
      
    }
  }
  &:nth-child(3n + 2) {
    @include breakpoint-desktop-small {
      @include grid-column-start(8);
      margin-top: 120px;
    }
  }
  &:nth-child(3n + 3) {
    @include breakpoint-desktop-small {
      @include grid-column-start(14);
    }
  }
}
.overview-product-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overview-product-item-text{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .btn{
    margin: 30px;
    background-color: transparent;
  }
}