.hero{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 10px 0 10px;
  @include breakpoint-desktop-small{
    height: 97dvh;
  }
  &:before{
    content: "";
    position: absolute;
    bottom: -41px;
    right: 37px;
    width: 136px;
    height: 70px;
    z-index: 6;
    background: #fbf8ee;
    transform: rotate(-32deg);
    @include breakpoint-desktop-small{
      bottom: -135px;
      right: 43px;
      width: 520px;
      height: 194px;
      transform: rotate(-27deg);
    }
  }
  .wrapper{
    display: flex;
    align-items: end;
    height: 100%;
    z-index: 4;
  }
}
.hero-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
}

.hero-text{
  max-width: 33ch;
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    max-width: 56ch;
    margin-bottom: 76px;
  }
  .arrow-right{
    position: relative;
    top: 4px;
    right: 0;
    padding-left: 14px;
    width: 35px;
     transition: right 0.3s ease-in-out;
    @include breakpoint-desktop-small{
      width: 47px;
    }
  }
  .btn{
    @include breakpoint-desktop-small{
      padding-left: 0;
      font-size: 20px;
      background-color: transparent;
      &:hover{
        .arrow-right{
          right: -20px;
          color: #BA5D01;
          z-index: -1;
        }
      }

    }
 
  }
}
// gallery

.gallery{
  padding: 60px 0;
  .wrapper{
    display: grid;
    gap: 60px 55px;
    grid-template-areas:
    "title content . line"
    "title content . text"
    "title content . col"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.gallery-title{
  margin-top: 45px;
  grid-area: title;
  grid-row-start: 2;
  grid-row-end: 2;
  h2{
    font-size: 60px;
    font-weight: normal;
  }
}
.gallery-image-big{
  justify-self: center;
  max-width: 542px;
  height: 732px;
 grid-area: content;
 grid-column: 2 / 4;

}

.gallery-text{
  align-self: end;
  grid-row-start: text;
  grid-column-start: line;
  p{
    margin-bottom: 25px;
  }
}
.gallery-image-small{
  height: 193.93px;
  background-color: green;
  grid-column-start: 4;
  grid-row-start: col;
}

// overview

.overview{
  overflow: hidden;
  position: relative;
  height: 589px;
  margin: 10px 10px 0 10px;
  @include breakpoint-desktop-small{
    height: 97dvh;
  }
  &:before{
    content: "";
    position: absolute;
    bottom: -41px;
    right: 37px;
    width: 136px;
    height: 70px;
    z-index: 6;
    background: #fbf8ee;
    transform: rotate(-32deg);
    @include breakpoint-desktop-small{
      bottom: -135px;
      right: 43px;
      width: 520px;
      height: 194px;
      transform: rotate(-27deg);
    }
  }
  .wrapper{
    display: flex;
    align-items: end;
    height: 100%;
    z-index: 4;
  }
}
.overview-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgba(255,255,255,0.00043767507002800965) 50%, rgba(0,0,0,1) 100%);
    @include breakpoint-desktop-small{
      background: linear-gradient(211deg, rgba(255,255,255,0.00043767507002800965) 65%, rgba(0,0,0,1) 100%);
    }
  }
}

.overview-text{
  max-width: 33ch;
  margin-bottom: 38px;
  @include breakpoint-desktop-small{
    max-width: 56ch;
    margin-bottom: 76px;
  }


}