%control-properties {
  transition: padding 0.3s ease-in-out;
  position: relative;
  font-family: $font-family-title;
  font-size: rem(16px);
  font-weight: bold;
  display: inline-block;
  background-color: #BA5D01;
  color: $color-white;
  padding: rem(6px) rem(20px) rem(13px) rem(20px);
  text-decoration: none;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 5px;
    width: 35px;
    height: 19px;
    transform: translate(-50%, -50%);
  }
}

%focus-properties {
  color: $color-white;
}
.btn {
 
  transition: all 0.2s ease-in-out;
  @extend %control-properties;
  &:hover {
    @extend %focus-properties;
    color: #BA5D01;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0%;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      animation: btn-move 0.3s;
      z-index: -1;
    }
  }
}


form {
  position: relative;
  max-width: rem(700px);
  input[type="text"] {
    background: $color-white;
    height: rem(60px);
    padding: rem(20px) rem(30px);
    border-radius: rem(30px);
    @include placeholder {
      color: rgba($color-black, 0.6);
      font-weight: 400;
    }
  }
  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-black;
    height: rem(60px);
    border-radius: rem(30px);
    color: $color-white;
    font-weight: 800;
    padding: 0 rem(30px);
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
}

#site-container .gform_wrapper {
}
