header {
    position: fixed;
    top: 0; 
    left: 0;
    height: 80px;
    z-index: 100;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &.fixed {
      background-color: $color-lightcream;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     
      .menu-large{
        transition: all 0.3s ease-in-out;
        margin-top: 30px;
        ul{
            li{
                a{
                    color: $color-black;
                }
            }
        }
      }
    }
  }
  

.menu-large{
    display: none;
    margin-top: 20px;
    @include breakpoint-tablet{
        display: block;
        @include grid-column-start(10);
        @include grid-column-span(10);
        justify-self: end;
    }
    ul{
        // display: none;
        @include breakpoint-tablet{
              display: flex;
        gap: 30px;
        align-items: center;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $color-white;
                font-size: rem(16px);
            }
        }
        }
      
    }
}
.logo{

    position: relative;
    display: inline-block;
    height: 55px;
    width: 60px;
    left: 65px;
    
    &::before{
        content: "";
        position: absolute;
        top: -150px;
        left: -62px;
        width: 400px;
        height: 180px;
        z-index: -1;
        background-color: #fbf8ee;
        transform: rotate(-31deg);
    }
}
