header {
    position: fixed;
    top: 0; 
    left: 0;
    height: 80px;
    z-index: 100;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &.fixed {
      background-color: $color-lightcream;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     
      .menu-large{
        transition: all 0.3s ease-in-out;
        margin-top: 30px;
        ul{
            li{
                a{
                    color: $color-black;
                }
            }
        }
      }
    }
  }
  

.menu-large{
    display: none;
    margin-top: 20px;
    @include breakpoint-tablet{
        display: block;
        @include grid-column-start(10);
        @include grid-column-span(11);
        justify-self: end;
    }
    ul{
        @include breakpoint-tablet{
        display: flex;
        gap: 30px;
        align-items: center;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $color-white;
                font-size: rem(16px);
            }
        }
        }
      
    }
}
.logo{
    position: relative;
    height: 55px;
    width: 60px;
    @include breakpoint-tablet{
        left: 65px;
    }
    >img{
        position: absolute;
        top: 26%;
        left: 130%;
        width: 78px;
        height: auto;
        object-fit: cover;
        align-self: center;
        @include breakpoint-tablet{
            top: 50%;
            left: 128%;
        }
    }
    .shape-top{
        top: -1px;
        position: absolute;
        left: 10px;
        z-index: 8;
        width: 315px;
        height: auto;
        transform: scale(-1);
        z-index: -1;
        @include breakpoint-tablet{
          width: 415px;
          left: -40px;
        }
      }
}
