h1, h2, h3, h4{
    font-family: $font-family-default;
    line-height: 1;
    color: $color-black;
}

h2, h3, h4{
    margin-bottom: rem(10px);
}

h1{
    font-size: rem(36px);
    margin-bottom: rem(25px);
    line-height: 1;
    color: $color-white;
    font-weight: 300;
    @include breakpoint-desktop-small{
        font-size: rem(60px);
        margin-bottom: rem(36px);
    }
}

h2{
    font-size: rem(32px);
    line-height: 1;
    font-weight: 300;
    margin-bottom: rem(25px);
    @include breakpoint-tablet{
        font-size: rem(40px);
    }
    @include breakpoint-desktop-small{
        font-size: rem(60px);
        margin-bottom: rem(36px);
    }
    
}

h3{
    font-size: rem(24px); 
    margin-bottom: rem(15px);
}

h4{
    font-size: rem(22px);
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}


.text-container {
    max-width: rem(957px);
    @include breakpoint-tablet{
        max-width: rem(588px);
    }

    p, ul, ol,
    blockquote,
    .embed-container,
    .wp-caption {
        line-height: rem(24px);
        margin-bottom: rem(50px);
        max-width: 100%;
        &:last-child{
            @include breakpoint-desktop-small{
                margin-bottom: 0;
            }
        }
    }

    ul, ol {
        position: relative;
        list-style: none;

        li:not(.gfield) {
            padding-left: 1.25em;

            &::before {
                position: absolute;
                text-indent: -1.25em;
            }
        }
    }

    ul {
        li:not(.gfield) {
            &::before {
                content: '•';
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            counter-increment: ol-counter;

            &::before {
                content: counter(ol-counter) '.';
            }
        }
    }

    a{
        &:not(.btn){
            &:hover{
                color: $color-black;
            }    
        }  
    }
    p{
        margin: 0 rem(0px) rem(50px) 0;
        @include breakpoint-tablet{
            margin-bottom: 53px;
        }
    }

    blockquote {
        padding-left: 1em;
        font-size: 1.4em;
        line-height: 1.2;
        border-left: .1rem solid currentColor;
    }
}
.overview{
    
}
.body-text{
    @include grid-layout(6, 10px);
    padding: 60px 0;
    @include breakpoint-tablet{
        padding: 80px 0;
        @include grid-layout(12, 10px);
    }
    @include breakpoint-desktop-small{
        padding: 150px 0;
        @include grid-layout(20, 10px);
    }
    h2{
        @include grid-column-start(2);
        @include grid-column-span(4);
        @include breakpoint-tablet{
            @include grid-column-start(3);
            @include grid-column-span(10)
        }
        @include breakpoint-desktop-small{
            @include grid-column-start(3);
            @include grid-column-span(10);
        }
    }
    p{
        @include grid-column-start(2);
        @include grid-column-span(4);
        @include breakpoint-tablet{
            @include grid-column-start(3);
            @include grid-column-span(9);
        }

        margin-bottom: 20px;
    }
    .body-text-image{
        position: relative;
        height: 358px;  
        margin: 40px 0 60px 0;
        @include grid-column-start(2);
        @include grid-column-span(4);
        @include breakpoint-tablet{
            @include grid-column-start(3);
            @include grid-column-span(9);
        }
        @include breakpoint-desktop-small{
            height: 558px;  
            @include grid-column-start(6);
            @include grid-column-span(12);
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            width: 400px;
            height: 72.52px;
            background:url('images/shape-bottom.svg') no-repeat;
            z-index: 3;
            transform: scale(-1);
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0px;
            width: 400px;
            height: 72.52px;
            background:  url('images/shape-bottom.svg') no-repeat;
            z-index: 5;
        }

    }
    .btn-yellow{
        font-family:$font-family-default;
        background-color: #CDB568;
        font-weight: 200;
        color: $color-black;
        max-width: 168px;
        padding: 14px 20px 12px 30px;
        @include grid-column-start(2);
        @include grid-column-span(2);
        @include breakpoint-tablet{
            @include grid-column-start(3);
            @include grid-column-span(3); 
        }
    }
}